* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
}
header {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), #000000ab); /* Adjust the last value for transparency */
    padding: 30px;
    position: flex;
    z-index: 1;
}


nav ul {
    list-style: none;
    display: flex;
    justify-content: left;

}

nav ul li {
    margin: 0 100px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}

nav ul li a:hover {
    color: #f0f0f0;
}

.background-image {
    background-image: url('construction.png'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    width: 100%;
    height: calc(100vh - 80px); /* Adjust height as needed */
    position: relative;
    z-index: 0;
}
nav ul li:first-child a {
    color: black;
    border: 3px white; /* Adds a border */
    border-radius: 2px; /* Optional: rounds the corners */
    background-color: rgba(255, 255, 255, 255); /* Optional: add a subtle background */
}
.main img {
    margin: 25px; /* Adjust the value for desired spacing */
}
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    padding: 20px;
}

.footer .text {
    flex: 1;
    margin-right: 20px;
}

.footer .image img {
    max-width: 1000px; /* Adjust width as needed */
    height: auto;
}
